__pycache__/
*.py[cod]
.zoho_login_tokens.json
.env
backend/.env
zoho_auth/.env
zoho_auth/.zoho_login_tokens.json
/venv
frontend/node_modules/
frontend/client/dist/
frontend/.env
.node_modules/
node_modules/